body{
  background-color: rgb(209,230,239);
  color: rgb(38,87,132);
}

h1 {
  text-align: center;
    }

img {
  width: 300px;
  border-color: rgb(38,87,132);
  border-style: dashed;
  border-width: 5px;
}
h4 {
  background-color: rgb(205,225,250);
  color: rgb(38,87,132);
}
  
