body{
  background-color: rgb(209,230,239);
  color: rgb(38,87,132);
}

img {
  width: 449px;
  border-color: rgb(38,87,132);
  border-style: dashed;
  border-width: 5px;
}

h4 {
  background-color: rgb(230,245,255);
  color: rgb(38,87,132);
}
  
